* {
  /* background-color: rgb(0, 0, 0); */
  overflow: hidden;
  margin: 0;
  padding: 0;
}

html {
  /* border: 3px solid rgb(163, 0, 0); */
  background-color: rgb(0, 0, 0);
  position: absolute;
  width: 100vw; 
  height: 100vh;
}

/* body {
  background-image: url('../img/canvas/transparentBG1.png');
} */

#total {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  /* transform: translate(5%, 5%); */
}

#topBar {
  border: solid 1px rgb(73, 76, 80);
  background-color: rgb(41, 42, 45);
  display: flex;
  flex-direction: row;
  align-items:stretch;
  height: 24px;
}

#leftBar {
  border: solid 1px rgb(73, 76, 80);
  background-color: rgb(32, 33, 36);
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0.5%;
  padding-top: 1.5%;
  width: 24px;
}

#main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  }

#canvasContainer {
  /* background-color: rgb(59, 85, 41); */
  aspect-ratio: 4/3;
  width: 100%;
  height: 100%;
  position: relative;  
}

#canvas, #bg, #interact, #grid {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
}

#bg, #interact, #grid {
  pointer-events: none;
}

#bg {
  border: solid 4px rgb(0, 174, 255);
  background-image: url('../img/canvas/transparentBG1.png');
  background-size: 5%, 5%;
  /* background-size: cover; */
  /* background-size: 31.1px 31.1px; */
  filter: brightness(50%);
}

#grid {
  border: solid 4px rgb(0, 174, 255);
  background-image: url('../img/canvas/grid1.png');
  background-size: 5%, 5%;
  /* background-size: cover; */
  /* background-size: 31.1px 31.1px; */
  filter: brightness(70%);
  /* visibility: hidden; */
}

#rightBar {
  /* border: solid 1px rgb(73, 76, 80); */
  background-color: rgb(32, 33, 36);
  display: flex;
  flex-direction: column;
  align-items:stretch;
  height: 100%;
  width: 140px;
  padding: 0.5%;
}

#bottomBar {
  border: solid 1px rgb(73, 76, 80);
  background-color: rgb(41, 42, 45);
  display: flex;
  flex-direction: row;
  align-items:stretch;
  height: 24px;
}

#topBar #btn {
  margin-top: 0.2%;
  margin-bottom: 0.2%;
  margin-left: 0.5%;
}

#bottomBar #btn {
  margin-top: 0.2%;
  margin-bottom: 0.2%;
  margin-left: 0.5%;
}

#leftBar #btn {
  margin-bottom: 10px;
  margin-left: 0.2%;
  margin-right: 0.2%;
}

#rightBar #btn {
  margin-bottom: 4%;
  margin-left: 0.2%;
  margin-right: 0.2%;
}

/* #rightBar #btn {
  margin-bottom: 5%;
} */

#btn {
  background-color: rgb(18, 20, 28);
  color: rgb(154, 156, 154);
}

#text {
  color: rgb(154, 156, 154);
  /* pointer-events: none; */
}

#bottomBar #text, #topBar #text #footer #text {
  /* visibility: hidden; */
  color: rgb(154, 156, 154);
}

#footer #text {
  /* visibility: hidden; */
  /* color: rgb(154, 156, 154); */
  font-size: 0.01%;
}

#slider {
  background-color: rgb(32, 33, 36);
  display: flex;
  flex-direction: column;
  width: 132px;
}

.noselect {
  /* pointer-events: none; */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
